<!DOCTYPE html>
<html>
<title>About Me Page</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Weather plots display using html-css.">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
crossorigin="anonymous">
<!-- Latest compiled and minified CSS -->
<!-- 	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" -->
    
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" > -->
<link rel="stylesheet" href="/static/css/suicidestyle.css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
  <header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
        <h4 class="text-white">About Me</h4>
        <p class="text-muted">Caroline is a certified Full Stack Developer/ Data Scientist from Columbia Engineering Data Analysis Bootcamp with experience in AWS Postgres, Python, JavaScript, and Web Development. She is proficient in data analysis, data visualization,  machine learning and deep learning.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
        <h4 class="text-white">Contact</h4>
        <ul class="list-unstyled">
          <li><a href="https://www.linkedin.com/in/caroline-delva-5184a172/" class="text-white">Visit my LinkedIn</a></li>
          <li><a href="https://github.com/CarolineDelva" class="text-white">Visit my Github</a></li>
          <li><a href="aboutmepage.html" class="text-white">About me </a></li>
        </ul>
        </div>
      </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
      <a href="index.html" class="navbar-brand d-flex align-items-center">
        <!-- <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg> -->
        <strong>Home</strong>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      </div>
    </div>
    </header>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="/static/css/CarolineDelva (2).jpg" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-black">
            <h2>Caroline Delva</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Full Stack Developer</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>New York, NY</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>CarolineDelva@outlook.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>929-432-9032</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
          <p>Python</p>

          <ul>
            <li>Pandas</li>
            <li>Matplotlib</li>
            <li>Numpy</li>
            <li>SciPy</li>
            <li>Pymongo</li>
            <li>SQLAlchemy</li>
            <li>Json</li>
            <li>Flask</li>
            <li>PySpark</li>
            <li>Tensorflow</li>
            <li>Scikit-learn</li>
          </ul> 
          
          <p>Javascript</p> 
          <ul>
          <li>D3</li>
              <li> Plotly</li>
              <li>Leaflet</li></ul>


              <p>Databases</p>
              <ul>
              <li>Postgres</li>
              <li>MongoDB</li>
              <li>AWS Postgres</li>
              <li>SQLite</li>
            </ul>
          <div class="w3-light-grey w3-round-xlarge w3-small">
            
          </div>
         
          <div class="w3-light-grey w3-round-xlarge w3-small">
            <ul>
             
            </ul>
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
            
            </div>
          </div>
          
          <div class="w3-light-grey w3-round-xlarge w3-small">
            
 
          </div>
         
          <br>

          <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p>
          <p>English</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
          </div>
          <p>French</p>
          <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
          </div>
          
         
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Labor and Employment Legal Assistant</b></h5>
          <h6 class="w3-opacity"><b><em>Thomson Reuters/Practical Law</em></b></h6>

          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Feb 2018 - <span class="w3-tag w3-teal w3-round">Current</span></h6>
         <ul>
           <li>Developing a full-stack application to analyze and visualize 3 years’ worth of customer’s response data to weekly email using Python, D3.js and  HTML templates </li>
          <li>In charge of creating weekly and monthly newsletters with HTML, sending legal research emails to the team, monitoring the social media page, and tracking newly published articles through Excel</li>
         
          </ul>
         
        
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Litigation Paralegal </b></h5>
          <h6 class="w3-opacity"><b><em>Department of Transportation</em></b></h6>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Jan 2017– Feb 2018</h6>
          <ul>
            <li>Accurately manage an average of 14 in-depth search requests every month, while investigating more than 30 eDiscovery databases to gather relevant documents for ongoing litigation</li>
            <li>Deliver user-friendly case binders of 30+ sensitive records each, including notice of claim, permits, inspections, or complaints</li>
          <li>Correspond with requestors and colleagues across 3 departments to facilitate the review and search request cycle using SharePoint and Law Manager</li>
          </ul>
         
          <hr>
        </div>


        <div class="w3-container w3-card w3-white w3-margin-bottom">
            <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-folder-open fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Projects</h2>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>Suicide Rates Full-Stack Application</b></h5>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>October 2019</h6>
             
              <ul>
             <li> Developed a full stack application to study suicide rates of 101 countries in 6 continents through 6 D3.js interactive graphs, statistical and descriptive analyisis, and  4 machine learning models 
              </li><li>Performed ETL process that extract the data, cleaned the data, loaded the data to a Postgres database
</li><li>Rendered 8 RESTful API of wrangled suicide rates data and 16 Bootstrap HTML pages using a Flask Server
</li><li>Developed 7 interactive D3.js graphs, performed statistical analysis for each graph, and trained and tested 3 machine learning models that predicts suicide rates
</li></ul>
              <hr>
            </div>
            <div class="w3-container">
              <h5 class="w3-opacity"><b>IMDB Movies Full-Stack Application</b></h5>
              <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>October 2019</h6>
              <ul>
                <li>Assumed the role of back-end developer and data visualization developer in the creation of a full-stack application that helps investors decide which movie to produce with data visuals and machine learning</li>
              <li>Performed ETL process that extract the data, cleaned the data, loaded the data to an AWS Postgres database shared with front-end developer and data analyst</li>
              <li>Rendered 9 RESTful API of wrangled IMDB movies data and a custom made HTML page using a Flask Server</li>
              <li>Developed 2 interactive D3.js graphs to allow users to better understand what makes movies successful</li>
              </ul>
            
              <hr>
            </div>


            <div class="w3-container">
                <h5 class="w3-opacity"><b>Belly Button Biodiversity Full Stack Application </b></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>August 2019</h6>
                <ul>
                  <li>Created 3 interactive Plotly graphs for a full stack application that stored sample data of people’s navel microbe strains into a SQLite Database, rendered wrangled data as 4 Restful APIs and an HTML templates, and is deployed to Heroku</li>
              
                </ul>
              
                <hr>
              </div>

              <div class="w3-container">
                  <h5 class="w3-opacity"><b>Exoplanet Exploration</b></h5>
                  <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>July 2019</h6>
                  <ul>
                    <li>Trained and tested a logistic regression model, a support vector machine model, and a deep learning model that predict KOI disposition of exoplanets using 19 exoplanet features </li>
                    
                  </ul>
                
                  <hr>
                </div>
     

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
       
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Columbia Engineering Data Analytics Boot Camp</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2019</h6>
          <p>Data Science Certificate</p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Skidmore College</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2012 - 2016</h6>
          <p>Bachelor Degree</p><br>
        </div>

     
      </div>

      

      

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>



</body>
</html>
