<!DOCTYPE html>
<html lang="en">

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Weather plots display using html-css.">
	<title> Global Suicide Rates Study</title>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
	<!-- Latest compiled and minified CSS -->
	<!-- 	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" -->
		
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" > -->
    <link rel="stylesheet" href="/static/css/suicidestyle.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	
    <header>
			<div class="collapse bg-dark" id="navbarHeader">
			  <div class="container">
				<div class="row">
				  <div class="col-sm-8 col-md-7 py-4">
					<h4 class="text-white">About Me</h4>
					<p class="text-muted">Caroline is a certified Full Stack Developer/Data Scientist from Columbia Engineering Data Analysis Bootcamp with experience in AWS Postgres, Python, JavaScript, and Web Development. She is proficient in data analysis, data visualization,  machine learning and deep learning.</p>
				  </div>
				  <div class="col-sm-4 offset-md-1 py-4">
					<h4 class="text-white">Contact</h4>
					<ul class="list-unstyled">
					  <li><a href="https://www.linkedin.com/in/caroline-delva-5184a172/" class="text-white">Visit my LinkedIn</a></li>
					  <li><a href="https://github.com/CarolineDelva" class="text-white">Visit my Github</a></li>
					  <li><a href="aboutmepage.html" class="text-white">About me </a></li>
					</ul>
				  </div>
				</div>
			  </div>
			</div>
			<div class="navbar navbar-dark bg-dark shadow-sm">
			  <div class="container d-flex justify-content-between">
				<a href="index.html" class="navbar-brand d-flex align-items-center">
				  <!-- <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg> -->
				  <strong>Home</strong>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
			  </div>
			</div>
		  </header>
		  

	
	
	
	<main role="main">
	<body>
	 
	 
	  <!-- Marketing messaging and featurettes
	  ================================================== -->
	  <!-- Wrap the rest of the page in another container to center all the content. -->
<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
	<div class="col-md-6 px-0">
		<h1 class="display-4 font-italic">Suicide Rates Study</h1>
		<p class="lead my-3">It is incredibly difficult to address the topic of suicide rates. It is however important to explore this topic so mental health professionals and people can better understand and help prevent this tragedy.</p>
		<p class="lead mb-0"><a href="contentpage.html" class="text-white font-weight-bold">Continue reading...</a></p>
	</div>
	</div>


	
<div class="row" style=" margin: 0 auto; width: 1480px;">		 

<div class="card" style="width: 18rem;">
	<img class="card-img-top" src="/static/css/linearregression.jpg" alt="Card image cap" height="250" width="300">
	<div class="card-body">
		<h5 class="card-title">Linear Regression</h5>

		<a href="linearregression.html" class="btn btn-primary">LEARN MORE</a>
	</div>
	</div>		
<div class="card" style="width: 18rem;">
		<img class="card-img-top" src="/static/css/decisiontree.jpg" alt="Card image cap" height="250" width="300">
		<div class="card-body">
			<h5 class="card-title">Decision Tree</h5>
			
			<a href="desiciontree.html" class="btn btn-primary">LEARN MORE</a>
		</div>
		</div>


		
<div class="card" style="width: 18rem;">
		<img class="card-img-top" src="/static/css/SVM.png" alt="Card image cap" height="250" width="300">
		<div class="card-body">
			<h5 class="card-title">Support Vector Machine</h5>
			
			<a href="supportvectormachine.html" class="btn btn-primary">LEARN MORE</a>
		</div>
		</div>


			
<div class="card" style="width: 18rem;">
		<img class="card-img-top" src="/static/css/random forest.jpg" alt="Card image cap" height="250" width="300">
		<div class="card-body">
			<h5 class="card-title">Random Forest</h5>
	
			<a href="randomforest.html" class="btn btn-primary">LEARN MORE</a>
		</div>
		</div>


</div>
<br>
<br>
	
	  <div class="container marketing">

	
		<!-- Three columns of text below the carousel -->
		
	
		<!-- START THE FEATURETTES -->
	
		
	
		<div class="row featurette">
		  <div class="col-md-7">
				<a href="age.html"style="color:gray"><h2>Age and Suicide Rates</h2></a>
				<!-- <h2 <a class="featurette-heading"  href="age.html">Age ans Suicide Rates. <span class="text-muted">It’ll blow your mind.</span></a></h2> -->
			
			<p class="lead">What is the average suicide rate in every age range in the six continents?...</p>
				
		  </div>
		  <div class="col-md-5">
				<img src="/static/css/agephoto.jpg" alt="Age Photo"  width="450" height="500" href="age.html">
		  </div>
		</div>
	
		<hr class="featurette-divider">
	
		<div class="row featurette">
		  <div class="col-md-7 order-md-2">
				<a href="data.html"style="color:gray"><h2>Data and Suicide Rates</h2></a>
			
			<p class="lead">Explore the data...</p>
		  </div>
		  <div class="col-md-5 order-md-1">
				<img src="/static/css/dataphoto.jpg" alt="Age Photo"  width="400" height="500" href="data.html">
			<!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
		  </div>
		</div>
	
		<hr class="featurette-divider">
	
		<div class="row featurette">
		  <div class="col-md-7">
			  
				<a href="gender.html"style="color:gray"><h2>Gender and Suicide Rates</h2></a>
			<p class="lead">Which sex has a greater suicide rate?...</p>
		  </div>
		  <div class="col-md-5">
			  
				<img src="/static/css/genderphoto.jpg" alt="Age Photo"  width="450" height="500" href="gender.html">
		  </div>
		</div>
	

		  
			  <hr class="featurette-divider">
		  
			  <div class="row featurette">
				<div class="col-md-7 order-md-2">
					  <a href="generation.html"style="color:gray"><h2>Generation and Suicide Rates</h2></a>
				  
				  <p class="lead">Which generation has showed to be more at risk in the 6 continents?...</p></div>
				<div class="col-md-5 order-md-1">
					  <img src="/static/css/generationphoto.jpg" alt="Age Photo"  width="400" height="500" href="generation.html">
				  <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
				</div>
			  </div>
		  
			  <hr class="featurette-divider">
		  
			  <div class="row featurette">
				<div class="col-md-7">
					
					  <a href="GDP.html"style="color:gray"><h2>Gross Domestic Product and Suicide Rates</h2></a>
				  <p class="lead">How does the Gross Domestic Product per Capita of a country affect average suicide rates?...</p>
				</div>
				<div class="col-md-5">
					
					  <img src="/static/css/gdpphoto.jpg" alt="Age Photo"  width="450" height="500" href="GDP.html">
				</div>
			  </div>
		  
			  <hr class="featurette-divider">




			  <div class="row featurette">
					<div class="col-md-7 order-md-2">
						  <a href="population.html"style="color:gray"><h2>Population and Suicide Rates</h2></a>
					  
					  <p class="lead">
							How does the population size of a country affect average suicide rates?..</p>
					</div>
					<div class="col-md-5 order-md-1">
						  <img src="/static/css/population photo.jpg" alt="Age Photo"  width="400" height="500" href="population.html">
					  <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
					</div>
				  </div>
			  
				  <hr class="featurette-divider">
			  
				  <div class="row featurette">
					<div class="col-md-7">
						
						  <a href="year.html"style="color:gray"><h2> Year and Suicide Rates </h2></a>
					  <p class="lead">What is the average suicide rates in 101 countries between 1985 and 2016?..</p>
					</div>
					<div class="col-md-5">
						
						  <img src="/static/css/Yearphoto.jpg" alt="Age Photo"  width="450" height="500" href="year.html">
					</div>
				  </div>
			  
	
	
	
	
				  
			  
			  




	
		<!-- /END THE FEATURETTES -->
	
	  </div><!-- /.container -->
	
	<br>
	<br>
	<hr>
	<br>
	<br>
	  
	</main>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		  <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script></body>
	</html>
	


						  

						
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
    <!-- <script type="text/javascript" src="/static/js/generationapp.js"></script> -->
    <!-- <script type="text/javascript" src="/static/js/genderapp.js"></script> -->
  
</body>

</html>