<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Weather plots display using html-css.">
	<title> Visualization-Bootstrap</title>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" > -->
    <link rel="stylesheet" href="/static/css/websitestyle.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body>
		<nav class="navbar navbar-expand-lg navbar-white bg-white">
			<a class="navbar-brand" style="text-decoration:none; color:#FFFFFF; href="#">Suicide Rates Exploratory Analysis Over Three Decades</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
	
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item dropdown">
						
						
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Plots
                        </a>
                        <div class="wrap">
                                <!-- <div class="search">
                                   <input type="text" class="searchTerm" placeholder="What are you looking for?">
                                   <button type="submit" class="searchButton">
                                     <i class="fa fa-search"></i>
                                  </button>
                                </div>
                             </div> -->
					    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="generationapp.html">Generation</a>
							<a class="dropdown-item" href="gender.html">Gender</a>
							<a class="dropdown-item" href="country.html">Country</a>
							<a class="dropdown-item" href="GDP.html">GDP</a>
							
						</div>
					</li>
					<!-- <li class="nav-item active">
						<a class="nav-link" href="Comparison_Page.html">Comparison <span class="sr-only">(current)</span></a>
					</li> -->
					<li class="nav-item">
						<a class="nav-link" href="data.html">Data</a>
					</li>
				</ul>
			</div>
		</nav>
		<!-- <div class="jumbotron"> -->
	
		<!-- Row 3 -->
		<div class="row">
			<div class="leftDiv">
				<div>
					<h2> Summary: Suicide Rate Frequency Through Generation, Gender, Country, and Gross Domestic Product(GDP).</h2> 
					<img src="Hope.jpg" alt="Hope Written in Palm" style="width:500px;height:350px;">
				</div>
				<hr>
				<div class="imgWrapper">

					<div id="gender">

					</div>
					<article>

						<p>
							<em> 
                                <br>
                                Purpose:
                                <br>
                                <p>Suicide Rates have increased immensely for the past 30 to 45 years regardless of an influx of prevention methods. There is a major 
                                variability both geographically as well as with age and gender, in suicide rates. Most research has not clearly defined why there is so much variability 
                                within those three categories; however, the purpose of this study is to perform an exploratory analysis using D3.js visualization to visually
                                depict the frequency of suicide rates over 30 years (1985-2016) to extract data and provide some potential answers to pondering questions from past research. 
                                </p>
                                <br>
                                Methods:
                                <br>
                                <p>Data was extracted from "Suicide Rates Overview" in Kaggle ('https://www.kaggle.com/russellyates88/suicide-rates-overview-1985-to-2016'). Data was
                                cleaned through Pandas Jupyter Notebook. We dropped columns and numbers that were not pertinent to our research (i.e.,'HDI Rate' and zeros). Moving Forward, we
                                created a database through SQL/PgAdmin4 where we formed tables that represented our new columns. Once we had our database, we created a html file that aggregated all of
                                our individual apps for gender, generation, country, and GDP. Lastly we created our own individual Javascript and HTML Landing Pages for our website, then linked our SQL database and html pages to Flask for deployment. 
                                </p>

								<br>
                                Results:
                                <br>
                                <p>The purpose of this project was to analyze how suicide rates have changed over time since 1985 to as recent as 2016.
								To accomplish this analysis, data was extracted from Kaggle and cleaned through SQL/PgAmin4 in order to
                                assemble distinct graphs that show the frequency of suicide rates over 30 years through generation, gender (male vs female), and through 210 countries. The results show
                                that the highest rate of suicide through generation, gender, and country were (insert results). Overall, results were compiled in order to help future researchers and psychiatrists determine which generation, gender and country to pay particular attention to for suicide prevention. 
                                <p>
							</em>
						</p>
					</article>
				</div>
			</div>
	
			<div class="rightDiv">
				<div>
					<h2> Visualizations </h2>
				</div>
				<hr>
				<div class="sidebar-sticky">
						<ul class="nav flex-column">
						  <li class="nav-item">
							<a class="nav-link active" href="#">
							  
							  Directory: <span class="sr-only">(current)</span>
							</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" href="#">
							<i class= 'fa fa-female'></i>
							<i class= "fa fa-male"></i> 
							<i class= "fa fa-female"></i> 
							  Generation 
							<a href="generationapp.html"></a>
							</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" href="#">
							  <i class= 'fa fa-venus'></i>
							  <i class= 'fa fa-mars'></i>
                                Gender
							</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" href="#">
							<i class="fa fa-map-marker"></i>	
							  
							    Country
							</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" href="#">
							 <i class='fa fa-signal'></i> 
							  GDP
							</a>
						  </li>
						  <li class="nav-item">
							<a class="nav-link" href="#">
							  

						
	

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
    <!-- <script type="text/javascript" src="/static/js/generationapp.js"></script> -->
    <script type="text/javascript" src="/static/js/genderapp.js"></script>
  
</body>

</html>